<?
/*
 * array $data
 */
?>
<ul class="main-nav nav nav-pills js-documents-tabs">
	<? foreach ($data['SECTIONS'] as $key => $section): ?>
		<li role="presentation"
		    class="js-documents-tab-link <?= ($key == 0) ? "active" : ""; ?>"
		    data-section="<?= $section['ID'] ?>">
			<a href="javascript:void(0)"><?= $section['NAME'] ?></a>
		</li>
	<? endforeach; ?>
</ul>

<div class="js-content row row-conformity cards-table cards-table_documents">
	<? foreach ($data['ITEMS'] as $key=>$item): ?>
		<div class="card-wrap js-documents-item <?= ($item['IBLOCK_SECTION_ID'] == $data['SECTIONS'][0]['ID']) ? "" : "minimal"; ?>"
		     data-section="<?=$item['IBLOCK_SECTION_ID'] ?>">
			<div class="panel panel-default card document">
				<? foreach ($item['PROPERTY_FILES'] as $index => $file): ?>
					<? if ($index == 0): ?>
						<a data-fancybox="gallery<?=$item['ID']?>"
						   class="card-img-top card-image"
						   href="<?= $file['BIG']['src'] ?>">
							<img src="<?= $file['SMALL']['src'] ?>" alt="<?= $file['NAME'] ?>"></a>
					<? else: ?>
						<a data-fancybox="gallery<?=$item['ID']?>"
						   href="<?= $file['BIG']['src'] ?>" style="display: none;"></a>
					<? endif; ?>
				<? endforeach; ?>
				<div class="card-body panel-body">
					<h4 class="card-title"><?= $item['NAME'] ?></h4>
					<p class="card-text"><?= $item['PREVIEW_TEXT'] ?></p>
				</div>
			</div>
		</div>
	<? endforeach; ?>
</div>