/* * * * * * * * * * *
*                    *
* Global             *
* Styles             *
*                    *
* * * * * * * * * * */
html,
body {
	width      : 100%;
	min-height : 100%;
	max-width  : 100%;
	overflow-x : hidden;
}

.page {
	position                   : relative;
	z-index                    : 1;
	font-family                : @font, sans-serif;
	-webkit-font-smoothing     : antialiased;
	text-rendering             : optimizeLegibility;
	-moz-osx-font-smoothing    : grayscale;
	-moz-font-feature-settings : 'liga', 'kern';
	background                 : white;
	color                      : @black;
	min-width                  : 320px;
	font-size                  : 18px;
	font-weight                : 400;

	* {
		box-sizing : border-box;

		&:focus {
			outline-color : #B4E4FF;
		}
	}

	&__wrapper {
		padding        : 0;
		display        : flex;
		flex-direction : column;
		min-height     : 100vh;
	}
}

.container {
	max-width : 1170px;
	margin    : 0 auto;

	@media @tablet {
		max-width : 768px;
		padding   : 0 20px;
	}
}

.mobile-hide {
	@media @mobile {
		display : none;
	}
}

a:active {
	outline : none;
}

.page__inner_about {
	display : flex;

	@media @tablet {
		flex-direction : column;
	}
}

@media (max-width: 1173px) {
	.header__logo-text{
		max-width: 207px;
		margin : auto 0 auto 20px;
	}
}