
.checkbox input {
	position : absolute;
	z-index  : -1;
	opacity  : 0;
	margin   : 10px 0 0 20px;
}

.checkbox__text {
	position    : relative;
	padding     : 0 0 0 50px;
	cursor      : pointer;
	color       : #333;
	font-size   : 18px;
	line-height : 28px;
}

.checkbox__text:before {
	content       : '';
	position      : absolute;
	top           : 0;
	left          : 0;
	width         : 40px;
	height        : 20px;
	border-radius : 13px;
	background    : #CDD1DA;
	box-shadow    : inset 0 2px 3px rgba(0, 0, 0, .2);
	transition    : .2s;
}

.checkbox__text:after {
	content       : '';
	position      : absolute;
	top           : 2px;
	left          : 2px;
	width         : 16px;
	height        : 16px;
	border-radius : 10px;
	background    : #FFF;
	box-shadow    : 0 2px 5px rgba(0, 0, 0, .3);
	transition    : .2s;
}

.checkbox input:checked + .checkbox__text:before {
	background : #FFBC23;
}

.checkbox input:checked + .checkbox__text:after {
	left : 22px;
}

.checkbox input:focus + .checkbox__text:before {
	box-shadow : inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7);
}

a:focus {
	outline : none;
}

.button {
	background      : #D9534F;
	border-radius   : 4px;
	height          : 40px;
	min-width       : 140px;
	padding         : 9px 13px;
	font-family     : @fontHeading;
	text-align      : center;
	text-decoration : none;
	font-style      : normal;
	font-weight     : 500;
	font-size       : 16px;
	line-height     : 24px;
	color           : #FFFFFF;
	display         : flex;
	align-items     : center;
	justify-content : space-around;
	transition      : background .5s ease, box-shadow .5s ease;

	&:hover {
		color      : #fff;
		background : #ca4d49;
		box-shadow : 1px 2px 11px rgba(0, 0, 0, 0.65);
	}

	&:active {
		background : #9f3f3d;
		box-shadow :  inset 1px 2px 11px rgba(0, 0, 0, 0.65);
	}
}


.circle-arrow {
	background-color    : #333333;
	background-image    : url("../img/arrow-long.svg");
	background-position : center;
	background-repeat   : no-repeat;
	background-size     : 20px 20px;
	border-radius       : 50%;
	display             : block;
	.size(40px);
}