/* * * * * * * * * * *
*                    *
* Variables          *
*                    *
* * * * * * * * * * */

@font : 'Open Sans';
@fontHeading : 'Montserrat';


@mobile : ~"(max-width: 768px)";
@tablet : ~"(max-width: 1170px)";
@desktop : ~"(min-width: 1170px)";
@print : ~"print";

//colors

@black : #333333;
@blue : #1976D2;
@yellow : #FFDC60;
