.accessible-block {
	background  : #F9F9F9;
	height      : 44px;
	display     : flex;
	align-items : center;

	&__inner {
		display         : flex;
		justify-content : center;
		align-items     : center;
	}

	&__link {
		font-family     : @fontHeading;
		font-style      : normal;
		font-weight     : 500;
		font-size       : 18px;
		line-height     : 24px;
		color           : @black;
		text-decoration : none;
		.leftIcon('eye.svg', 20px);
	}

	@media @tablet {
		display: none;
	}
}