.header {
	&__part {
		&_welcome {
			height     : 136px;
			background : #fff;
		}

		&_navigation {
			height : 44px;
		}
	}

	&__inner {
		&_welcome {
			display     : flex;
			align-items : center;
			height      : 100%;
		}

		&_navigation {
			display     : flex;
			align-items : center;
			height      : 100%;
		}
	}

	&__accessible-block {
		position : relative;
		z-index  : 1;
	}

	&__logo {
		background      : url("../../img/logo.png") no-repeat;
		background-size : contain;
		.size(77px, 86px)
	}

	&__logo-text {
		font-family : @fontHeading;
		font-style  : normal;
		font-weight : bold;
		font-size   : 18px;
		line-height : 22px;
		color       : #000000;
		max-width   : 170px;
		margin-left : 20px;
	}

	&__request-btn {
		margin-left : 60px;
	}


	&__link {
		font-family     : @fontHeading;
		display         : flex;
		align-items     : flex-end;
		text-decoration : none;
		font-style      : normal;
		font-weight     : 500;
		font-size       : 18px;
		line-height     : 24px;
		color           : @black;

		&_call {
			.leftIcon('phone.svg', 20px);
			margin-left : 35px;
		}

		&_mail {
			.leftIcon('mail.svg', 20px);
			margin-left : auto;
		}

		&_personal {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			min-width      : 70px;
			//.leftIconColored('black-login.svg', 20px);
		}

		&:hover {
			text-decoration : underline;
		}
	}

	&__personal_title {
		font-size   : 16px;
		line-height : 16px;
		display     : flex;
		align-items : flex-end;
		text-align  : center;
		font-weight : bold;
	}

	&__personal_subtitle {

	}

	&__navigation-wrap {
		display         : flex;
		justify-content : space-between;
		list-style      : none;
		width           : 100%;
		padding         : 0;
		margin          : 0;
		align-items     : stretch;
		height          : 100%;
	}


	&__navigation-item {
		position : relative;
	}

	&__navigation-link {
		text-decoration : none;
		font-family     : @fontHeading;
		text-align      : center;
		display         : flex;
		justify-content : center;
		align-items     : center;
		position        : relative;
		transition      : color .5s ease;
		font-style      : normal;
		font-weight     : 500;
		font-size       : 16px;
		line-height     : 24px;
		color           : #646464;
		.size(100%);

		&:after {
			.pseudo();
			.size(100%, 4px);
			background : @blue;
			position   : absolute;
			bottom     : 0;
			left       : 0;
			opacity    : 0;
			transform  : translateY(-20%);
			transition : opacity .5s ease, transform .2s ease;
		}

		&_active,
		&:hover {
			color : @blue;

			@media @desktop {
				&:after {
					opacity   : 1;
					transform : translateY(0) scaleX(1.15);
				}
			}
		}

		&_dropdown {
			&:before {
				.pseudo();
				width               : 8px;
				height              : 5px;
				background-image    : url("../../img/bottom-arrow.svg");
				background-repeat   : no-repeat;
				background-position : center center;
				position            : absolute;
				right               : -15px;
				top                 : calc(50% - 8px / 2);
			}
		}

		&:hover + .header__navigation-dropdown-wrap {
			max-height : 500px;
			opacity    : 1;
		}
	}

	&__navigation-dropdown-wrap {
		z-index    : 3;
		background : #fff;
		width      : auto;
		min-width  : 300px;
		position   : absolute;
		left       : 0;
		top        : 100%;
		max-height : 0;
		opacity    : 0;
		transition : max-height 1s ease, opacity .3s ease;
		list-style : none;
		padding    : 10px;
		box-shadow : 1px 2px 6px 0px rgba(1, 1, 1, 0.5);

		&:hover {
			max-height : 500px;
			opacity    : 1;
		}
	}

	&__navigation-dropdown-link {
		font-family     : @font;
		font-style      : normal;
		font-weight     : 500;
		font-size       : 16px;
		line-height     : 24px;
		color           : #646464;
		text-decoration : none;

		&:hover {
			color : @blue;
		}
	}

	&__hamburger-inner {
		.size(22px, 17px);
		margin : auto;
	}

	&__hamburger {
		display    : none;
		align-self : stretch;
		width      : 44px;
		transition : background-color .3s ease-out;
		position   : relative;
		overflow   : hidden;

		.line {
			display          : block;
			width            : 22px;
			height           : 3px;
			background-color : @black;
			border-radius    : 2px;
			margin           : 4px auto 0 0;
			transition       : all 0.3s ease-in-out;
			position         : relative;
			z-index          : 1;

			&:nth-child(1) {
				margin : 0 auto 0 0;
			}
		}

		&:hover {
			cursor : pointer;
		}

		&_active {
			.line {
				&:nth-child(2) {
					opacity : 0;
				}

				&:nth-child(1) {
					transform : translateY(7px) rotate(45deg);
				}

				&:nth-child(3) {
					transform : translateY(-7px) rotate(-45deg);
				}
			}
		}
	}


	@media @tablet {
		height   : auto;
		overflow : hidden;

		&__navigation-dropdown-wrap {
			display : none;
		}

		&__navigation-link {
			text-align    : left;
			margin-bottom : 10px;
		}

		&__link-text {
			display : none;
		}

		&__link_personal {
			min-width : unset;
		}

		&__link {
			display : none;
		}

		&__hamburger {
			display     : flex;
			width       : 54px;
			margin-left : -21px;
			position    : relative;
		}

		&__logo {
			.size(41px, 44px);
			margin-left : 0;
		}

		&__logo-text {
			font-size   : 14px;
			font-weight : normal;
			max-width   : 207px;
		}

		&__request-btn {
			display : none;
		}

		&__part {
			&_welcome {
				z-index  : 1;
				position : relative;
				height   : 70px;
			}

			&_navigation {
				height     : unset;
				z-index    : 0;
				max-height : 0;
				transition : max-height 1s ease-out;

				&_active {
					max-height : 400px;
				}
			}
		}

		&__navigation-wrap {
			flex-direction  : column;
			align-items     : flex-start;
			justify-content : flex-start;
			padding-top     : 22px;
		}
	}

	@media @mobile {

	}

}