<header class="header js-header">
	<div class="header__accessible-block accessible-block">
		<div class="accessible-block__inner container">
			<a href="javascript:void(0);" class="accessible-block__link">Версия для слабовидящих</a>
		</div>
	</div>
	<div class="header__part_welcome">
		<div class="header__inner_welcome container">
			<a href="javascript:void(0);" class="header__hamburger js-hamburger">
				<div class="header__hamburger-inner">
					<span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
				</div>
			</a>
			<div class="header__logo"></div>
			<p class="header__logo-text">АНО ДПО «Межотраслевой Учебный Центр»</p>
			<a href="mailto:2990287.muc@mail.ru" class="header__link header__link_mail">Напишите нам</a>
			<a href="tel:+7 861 212 59-47" class="header__link header__link_call">+7 861 212 59-47</a>
			<a href="" class="header__request-btn button button_color_red">Подать заявку</a>
		</div>
	</div>
	<div class="header__part_navigation js-navigation">
		<div class="header__inner_welcome container">
			<ul class="header__navigation-wrap">
				<li class="header__navigation-item header__navigation-item__active">
					<a class="header__navigation-link" href="/">Главная</a>
				</li>
				<li class="header__navigation-item header__navigation-item_dropdown">
					<a href="/courses/" class="header__navigation-link header__navigation-link_dropdown">Обучение</a>
					<ul class="header__navigation-dropdown-wrap">
						<li class="header__navigation-dropdown-item">
							<a class="header__navigation-dropdown-link" href="/courses/?section=4">
								Безопасность
							</a>
						</li>
						<li class="header__navigation-dropdown-item">
							<a class="header__navigation-dropdown-link" href="/courses/?section=5">
								Государственная служба и юриспруденция
							</a>
						</li>
					</ul>
				</li>
				<li class="header__navigation-item header__navigation-item_active">
					<a class="header__navigation-link header__navigation-link_active" href="/docs/">Документы</a>
				<li class="header__navigation-item"><a class="header__navigation-link" href="/docs/">Документы</a>
				<li class="header__navigation-item"><a class="header__navigation-link" href="/docs/">Документы</a>
			</ul>
		</div>
	</div>
</header>
