.partners {
	background     : #FFF;
	padding-bottom : 56px;

	&__inner {
		position : relative;
	}

	&__title {
		font-size      : 30px;
		font-weight    : 700;
		line-height    : 40px;
		color          : #000000;
		margin-bottom  : 20px;
		text-transform : uppercase;
		text-align     : center;
	}

	&__slider {
		margin   : 0 90px;
		position : static;
	}

	&__slide {
		height : 120px;
		margin : 0 20px;
	}

	&__slide-img {
		background-size     : contain;
		background-position : center;
		background-repeat   : no-repeat;
		max-width           : 150px;
		height              : 100%;
	}

	&__arrow {
		position : absolute;
		top      : 105px;

		&_left {
			transform : rotate(180deg);
			left      : 0;
		}

		&_right {
			right : 0;
		}
	}

	@media @tablet {
	}

	@media @mobile {
		&__slider {
			margin-left : 0;
		}
	}
}