<div class="partners js-partners">
    <div class="partners__inner container">
        <h3 class="partners__title section-title">Наши партнеры</h3>
        <div class="partners__slider-wrap">
            <div class="partners__slider js-partner-slider">
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
                <div class="partners__slide" style="background-image: url('../../img/logo.png');"></div>
            </div>
        </div>
    </div>
</div>