.mu-footer-widget.contact {
  a {
	color: #FFFFFF;
  }

  .contact__item {
	display: block;
	font-weight: 300;
	padding: 2px 0;
  }

  strong {
	font-weight: 400;
  }
}

.footer-brand {
  display: flex;
  align-items: center;
  color: #FFFFFF;

  img {
	width: 100px;
	margin-right: 10px;
  }

  a {
	color: #FFFFFF;
  }
}

footer {
  color: #FFFFFF;
}

.main-nav.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.main-nav.nav-pills {
  text-align: center;
}

.card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;

  &:after {
	position: absolute;
	right: 20px;
	top: 20px;
	content: "\f002";
	font-family: "Font Awesome 5 Pro";
	width: 30px;
	height: 30px;
	color: #FFFFFF;
  }
}

.card-image {
  background: rgba(0, 0, 0, 0.2);

  &_side-bar {
	height: 300px;
	max-width: 250px;
	display: block;
  }

  img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	transition: all 1s ease;
	filter: brightness(50%);
  }
}

.card:hover .card-image img,
.card-image:hover img {
  filter: brightness(99%);
  transform: scale(1.05);
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease;

  &:hover {
	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.05);
  }
}

.inner {
  padding: 50px 0;
}

.body {
  padding: 0;
}

.cards-table > div {
  display: block;
  transition: all .5s ease;
}

.cards-table {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all .5s ease;

  &_documents {
	margin-top: 20px;
  }
}

.card-footer {
  margin-top: auto;
}

.section-link {
  margin-bottom: 10px;
}

.main-card {
  transition: all .5s ease, display .1s ease 1s;
  max-height: 350px;
}

.minimal {
  opacity: 0;
  width: 0;
  height: 0;
  transform: scale(0.01);
  overflow: hidden;
  display: none;
}

.mu-sidebar-catg {
  .section-link.active a {
	text-decoration: underline;
	font-weight: 500;
  }
}

.course-detail {
  &__title {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
  }

}

.media .media-left .media-object {
  width: 70px;
  height: 60px;
}

#mu-menu .navbar-default .navbar-nav li .dropdown-menu li a {
  white-space: normal;
}

#mu-menu .navbar-default .navbar-nav li .dropdown-menu {
  min-width: 320px
}

.mu-sidebar {
  font-weight: 300;
}

#mu-footer .mu-footer-top .mu-footer-top-area .mu-footer-widget ul li a {
  padding: 5px 0 5px 0;

  &:before {
	display: none;
  }
}

.footer-brand {
  &:hover {
	color: #FFFFFF;
  }
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature {
  height: 370px;
  position: relative;
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature a {
  position: absolute;
  bottom: 0;
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature h4 {
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature p {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1190px) {
  .telephone-block {
	display: none;
  }

  .navbar-toggle {
	display: block !important;
	background-color: #1976D2;
	border-radius: 0;
  }

  .header-inner {
	width: 100%;
  }

  .navbar-header .navbar-brand {
	height: 40px;

	p {
	  margin: 0 0 0 10px;
	  font-size: 14px;
	}
  }

}

@media (max-width: 767px) {

  .cards-table {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
  }
}

.nav-red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 25px;

  a {
	color: #FFFFFF;
  }
}

.modal-header {
  position: relative;
}

.form-control {
  transition: border .15s ease, box-shadow .3s ease;

  &.error {
	border: 2px solid red;
	box-shadow: 0 0 3pt 2pt red;
  }
}

.form-group {
  label {
	display: block;
  }
}

#mu-features .mu-features-area .mu-features-content .mu-single-feature a {
  position: relative;
}

body {
  min-width: 320px;
}

@media (max-width: 1199px) {
  .navbar-brand {
	max-width: 235px;
  }

  .footer-brand {
	justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: block;
  margin-top: auto;
  width: 100%;
}


.sv_settings {
  display: none;
  padding: 10px;
  min-height: 40px;
  font-size: 22px;
  color: #333;
  background: white;
}

.sv_settings * {
  font-weight: bold;
}

.fs-outer button {
  display: inline-block;
  background: white !important;
  color: black !important;
  height: 35px;
  width: 35px;
  padding: 0;
}

.fs-n {
  font-size: 14px;
}

.fs-m {
  font-size: 18px;
}

.fs-l {
  font-size: 22px;
}

.cs-outer button {
  display: inline-block;
  height: 35px;
  width: 35px;
  padding: 0;
}

.cs-bw, .cs-bw:focus, .cs-bw:hover {
  color: black !important;
  background: white !important;
}

.cs-wb, .cs-wb:focus, .cs-wb:hover {
  color: white !important;
  background: black !important;
}

.cs-bb, .cs-bb:focus, .cs-bb:hover {
  color: #063462 !important;
  background: #9dd1ff !important;
}

.cs-gb, .cs-gb:focus, .cs-gb:hover {
  color: #4d4b43 !important;
  background: #f7f3d6 !important;
}

.cs-yg, .cs-yg:focus, .cs-yg:hover {
  color: #a9e44d !important;
  background: #3b2717 !important;
}

.select2-dropdown {
  color: #4d4b43;
}

.nav.navbar-nav.main-nav .navbar-item {
  max-width: 185px;

  a {
	height: 76px;
	display: flex;
	align-items: center;
  }
}

.telephone-block {
  padding-bottom: 15px;

  &__inner {
	display: flex;
	justify-content: flex-end;
  }

  &__phone {
	margin-left: 15px;
  }

}


.content_text {
  table {
	border-spacing: 0; /* Расстояние между ячеек */
  }

  td, th {
	padding: 5px 10px; /* Поля в ячейках */
  }

  tr {
	transition: background-color .5s ease;

	&:nth-child(2n-1) {
	  background: rgba(0, 0, 0, 0.05);
	}

	&:hover {
	  background: rgba(0, 0, 0, 0.15);
	}
  }
}