#mu-menu {
  display: block;
  width: 100%;
  padding: 0;
  .navbar-header {
    .navbar-brand {
      padding: 0;
      color: #333;
      font-family: $heading-font;
      font-size: 18px;
      font-weight: 500;
      //text-transform: uppercase;
      letter-spacing: 0.5px;
      i {
        font-size: 35px;
      }
      span {
        margin-left: 4px;
      }
    }
  }
  .navbar-default {
    padding: 10px 0;
    background-color: #fff;
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    min-height: 40px;
    padding-bottom: 0;
    .navbar-nav {
      .navbar-item {
        & > a {
          border-bottom: 2px solid transparent;
          padding-bottom: 25px;
          padding-top: 25px;
          margin-bottom: -1px;
          @include transition(all 0.5s);
        }
        #mu-search-icon {

          &:hover,
          &:focus {
            border: none;

          }
        }
        .dropdown-menu {

          border-radius: 0px;
          li {
            a {
              color: $base-color;
              padding-top: 10px;
              padding-bottom: 10px;
              &:hover,
              &:focus {
                color: #fff;
              }
            }
          }
        }
      }
      .open {
        a {
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }

    }

  }
}