.courses {
	&__list {
		display   : flex;
		flex-wrap : wrap;
	}

	&__item {
		width  : calc(33% - 15px);
		margin : 0 auto;

		@media @tablet {
			width : calc(50% - 15px);
		}

		@media (max-width : 600px) {
			width : 100%;
		}

		@media (max-width : 1200px) {
			.card-title {
				font-size : 16px;
			}
		}
	}
}