.document {
	width    : 200px;
	height   : 280px;
	position : relative;

	.card-image {
		width  : 100%;
		height : 100%;
	}

	.card-image img {
		width           : 100%;
		height          : 100%;
		object-fit      : cover;
		object-position : left;
	}

	.card-body {
		position   : absolute;
		left       : 0;
		bottom     : 0;
		width      : 100%;
		text-align : center;
		background : rgba(255, 255, 255, 0.45);
	}
}