.m-slider {
	&__slide {
		.size(100%, 500px);
		position              : relative;
		background-size       : cover;
		background-position   : center;
		background-blend-mode : color;
		background-color      : rgba(0, 0, 0, 0.55);
	}

	&__slide-title {
		font-family : @fontHeading;
		font-style  : normal;
		font-weight : bold;
		font-size   : 72px;
		line-height : 72px;
		color       : #FFFFFF;
		max-width   : 700px;
	}

	&__slide-text {
		font-family : @fontHeading;
		font-style  : normal;
		font-weight : 500;
		font-size   : 24px;
		line-height : 32px;
		color       : #FFFFFF;
		max-width   : 600px;
	}

	&__inner {
		padding : 92px 0 20px 0;
	}

	@media @tablet {
		&__slide-title {
			font-size   : 40px;
			line-height : 40px;
		}

		&__slide-text {
			font-weight : 300;
			font-size   : 14px;
			line-height : 19px;
		}

		&__inner {
			padding : 60px 15px 20px;
		}
	}
}