<section class="m-slider">
	<div class="m-slider__slide" style="background: blue;">
		<div class="m-slider__inner container">
			<h3 class="m-slider__slide-title">Широкий выбор направлений</h3>
			<p class="m-slider__slide-text">В области дополнительного и профессионального образования</p>
		</div>
	</div>
</section>
