.modal {
  max-width:     400px;
  border-radius: 10px;

  &__inner {
	//height:   571px;
	padding:  20px 20px;
	position: relative;
  }

  &__title {
	font-size:   24px;
	color:       #333333;
  }

  &__text {
	font-size:   18px;
	line-height: 28px;
  }

  .colored {
	&_red {
	  color: #E32026;
	}

	&_black {
	  color: #333333;
	}
  }

  &__exit {
	position:        absolute;
	right:           20px;
	top:             20px;
	width:           24px;
	height:          24px;
	background:      url("../img/modal-exit.png") no-repeat;
	background-size: contain;
	transition:      transform .3s ease;

	&:hover {
	  transform: rotate(90deg);
	}
  }

  &_type {
	&_success {
	  //background:      url("../img/glx-modal-bg.png") no-repeat;
	  //background-size: cover;

	  .modal__inner {
		display:         flex;
		flex-direction:  column;
	  }

	  .modal__text {
		color: #828282;
		width: 300px;
	  }
	}

	&_error {
	  .modal__text {
		color: #E32026;
	  }
	}
  }

}